<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue To do List</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <script src="https://unpkg.com/vue@3.4.27/dist/vue.global.js"></script>

    <!-- Vue Div -->
    <div id="app">
        <h1> {{ message }} </h1>

        <ul>
            <li v-for="(slide, i) in toDoList" key="i" class="item"> {{ slide }}</li>
        </ul>

    <!-- Input e Pulsante -->
        <input v-model="newItem" type="text" placeholder="Nuovo elemento">
        <button @click="addItem">Aggiungi</button>

    </div>
    
    

    <script src="./js/script.js"></script>
</body>
</html>